.App {
  font-family: sans-serif;
  text-align: center;
}

.app-wrapper {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 16px;
  width: 270px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
  cursor: pointer;
  padding: 8px 8px;
}

li:hover {
  background-color: darkgray;
  color: white;
}

.validation-message {
  color: red;
  font-weight: 700;
  margin-bottom: 10px;
}
